# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
.uv/
uv.lock

# IDE/editor
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# PyTest
.pytest_cache/

# Coverage
htmlcov/
.tox/
.coverage
.coverage.*
.cache
